@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/inter-400.woff2") format("woff2");
  font-display: swap;
  }

@font-face {
   font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/inter-700.woff2") format("woff2");
    font-display: swap;
    }

@font-face {
      font-family: "Inter";
       font-style: normal;
       font-weight: 900;
       src: url("/fonts/inter-900.woff2") format("woff2");
       font-display: swap;
       }

html {
height: 100%;
}

body {
  margin: 0;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  font-family: "Inter", normal;
  background-color: #FEAFC3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  color: #ffffff;
  background-color: #FEAFC3;
}

.navigation {
  display: flex;
  width: 1170px;
  margin: 0 auto;

}

.navigation-list {
  width: 685px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;

}

.header-contacts-address-phone {
  display: block;
  list-style-type: none;
  text-decoration: none;
  color: #2D3440;
  padding-top: 8px;
}

.navigation-user {
  width: 471px;
  margin-left: auto;
}

.navigation-link {
  padding: 8px 16px;
  display: block;
  font-family: "Inter";
  font-style: normal;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
  color: #2D3440;
  background-color: #FEAFC3;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-user .navigation-link {
  min-width: ;
  min-height: 32px;
}

.navigation-item {

}

.main {
  color: #2D3440;
  background-color: #FEAFC3;
}

.container-sleder {
  display: flex;
}

.main-container {
  width: 1170px;
  margin: 0 auto;
}

.main-text {
  width: 470px;
}

.icecream {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  display: flex;
}

.icecream-link {
  font-family: "Inter";
  font-style: normal;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
  color: #2D3440;
  background-color: #FEAFC3;
  text-decoration: none;
  text-transform: capitalize;
}

.gallery {
  width: 306px;
}



.promo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  color: #2D3440;
  font-size: 36px;
  line-height: 46px;

}


.main-index p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: #2D3440;
  font-size: 18px;
  line-height: 24px;
}

.promo-bth {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  color: #2D3440;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.stock-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  color: #2D3440;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.stock-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  color: #2D3440;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
}

.stock-description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: #2D3440;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.assortiment-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  color: #2D3440;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}
.assortiment-item {
  list-style-type: none;
  text-decoration: none;
}


.assortiment-item p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: #565C66;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

}

.stroke {
  width: 1170px;
  background-image: url(/img/Сео.svg);
  background-repeat: no-repeat;
}
.advantages {
  width: 1142px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.advantages-container {
  width: 1043px;
  margin: 0 auto;
}
.advantages-item {
  list-style-type: none;
  text-decoration: none;

}

.advantages-list {
  margin: 0;
  padding: 0;
}

.blog {
  width: 570px;
  border-radius: 16px;
  margin-right: 30px;
  background-image: url(/img/Новости-2.jpg);
  background-repeat: no-repeat;
}

.blog-title {
  border-radius: 16px;
  padding-bottom: 12px;
  margin-left: 32px;
}

.blog-link {
  border-radius: 16px;
  width: 303px;
  display: block;
  margin-left: 32px;
  padding-bottom: 67px;
}
.index-columns {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.container-subscription {
  width: 570px;
  background-image: url(/img/Подписка.svg);
}

.subscription {
  width: 558px;
  margin-left: 8px;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.delivery-form-email {
  width: 506px;
  display: block;
  background-color:

}

.big-stock {
  width: 1170px;
  margin: 0 auto;
  display: flex;

}

.stock-malinka {
  width: 570px;
  padding-top: 36px;
  padding-left: 36px;
  padding-bottom: 36px;
  border-radius: 16px;
  background-color:#FF7799;
  background-image: url(/img/малина\ в\ рожке.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.stock-mar {
  width: 570px;
  padding-top: 36px;
  padding-left: 36px;
  padding-bottom: 36px;
  border-radius: 16px;
  margin-left: 30px;
  background-color:#FF7799;
  background-image: url(/img/маршмелоу-рожок.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.assortiment {
  width: 1170px;
  margin: 0 auto;
}

.all {
  display: flex;
  justify-content: space-between;
}


.container-asortiment {
  background-color: #FCFCFC;
  width: 270px;
  margin-bottom: 40px;
}


.assortiment-product {
  text-align: center;
}

.assortiment-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  color: #2D3440;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.advantages-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  color: #2D3440;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}


.advantages-description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: #565C66;
  font-size: 16px;
  line-height: 22px;
}

.container-pagnation {
  width: 1170px;
  margin: 0 auto;
}

.index-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
}
.blog-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: #565C66;
  font-size: 16px;
  line-height: 20px;
}

.blog-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  color: #2D3440;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  text-decoration: none;
}

.delivery-form-email {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: #2D3440;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}

.button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  color: #FCFCFC;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #FF2F64;
  border-style: solid;
  border-width: 4px;
  border-color: rgba(45, 52, 64, 0.1,);
  border-radius: 26px;
}



.delivery {
  width: 1170px;
  border-radius: 16px;
  background-image: url(/img/Доставка.svg);
  display: flex;

}

.delivery-container {
  margin-left: 100px;
  margin-top: 167px;
}

.delivery-container-form {
  min-width: 500px;
  background-color: #FCFCFC;
  border-radius: 8px;

}

.delivery-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  color: #2D3440;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
  padding: 0;
}



.delivery-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: #565C66;
  font-size: 16px;
  line-height: 22px;
}

.delivery-form p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  color: #2D3440;
  font-size: 16px;
  line-height: 20px;
}

.catalog-container {
  width: 1170px;
  margin: 0 auto;
}

.footer-contacts p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: #565C66;
  font-size: 16px;
  line-height: 22px;
}

.about-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  color: #2D3440;
  font-size: 20px;
  line-height: 24px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  width: 1170px;
  margin: 0 auto;
}

.footer-social-container {}

.footer-contacts {
  width: 1170px;
  border-radius: 16px;
  margin: 0 auto;
  background-image: url(/img/Обратная\ связь.svg);
}

.container-contacts {
  width: 343px;
  border-radius: ;
  background-color: #FCFCFC;

}

.social-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-navigation-list {
  list-style-type: none;
  text-decoration: none;
}

.footer-contacts-address-phone {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  color: #2D3440;
  font-size: 20px;
  line-height: 24px;
}

.footer-navigation {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  list-style-type: none;
}

.footer-navigation li {
  list-style-type: none;
}

.provider-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}
.about-text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: #2D3440;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

.inner-header-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}




.button-action {
  margin-left: 585px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  color: #FCFCFC;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: ##FCFCFC66;
  border-style: solid;
  border-width: 4px;
  border-color: rgba(45, 52, 64, 0.1,);
  border-radius: 26px;
}
